.addWorkForm {
  display: flex;
  flex-direction: column;
  width: 500px;
}

.addWorkMain {
  display: flex;
    flex-direction: column;
    margin-top: 150px;
    align-items: center;
}

.previewAddWork {
  max-width: 500px;
    margin-top: 50px;
}

.imgAddWorkPreview {
  width: 250px;
}

.framePreview {
  display: flex;
    flex-direction: column;
    align-items: center;
}

.framePreviewChildTwo{
margin-left: 15px;
}

.headerForm {
  margin-bottom: 50px;
}

.formContent {
  margin-bottom: 20px;
}