.FeedPost {
  width: 950px;
    height: 650px;
    border: 1px solid #f1dccd;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    border-radius: 20px;
    background-color: #fde8da;

}

.parte1Post img {
  height: 480px;
  object-fit: cover;
}

.parte2PostCortometraje {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: flex-start;
  justify-content: space-between;
  width: 100%;
  margin-top: 5px;
  

}

.derechaCortometraje {
  display: flex;
  flex-direction: column;
  margin-right: 50px;
  
}

.izquierdaCortometraje {
  margin-left: 50px;
}

.heartOut {
  width: 25px;
}

.heartOut:hover{
  content: url('../../../images/icons/heart.png');
}

.artIcon {
  width: 25px;
  margin-bottom: 34px;
}

.divisionIzq {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.divisionIzqSegundoChild {
  margin-left: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


